.item{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
    /* border: 3px solid red; */

}

.itemName{
    font-weight: bold;
    padding: 20px;
    /* border: 3px solid green; */
}

.line{
    border: 1px solid #d9d7d7;
    /* border: 3px blue; */
}

.btn{
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #f7ca18;
    color: white;
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;
    
}
.completed{
    text-decoration: line-through;
}